/* You can add global styles to this file, and also import other style files */


html {
    background: url('https://images.wallpaperscraft.com/image/mountains_sunset_trees_123686_1920x1080.jpg');
    background-repeat: repeat-y;
    background-size: 100%
}
body {
    padding: 25px;
    background: transparent;
}

img {
    border-radius: 3.5px;
}