/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Aileron';
    font-size: 25px;
}

a {
    text-decoration: none;
}

.navbar {
    // width: 80%;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 30% auto;
    
     a {
        color: white;
    }
}  