/* You can add global styles to this file, and also import other style files */


html {
    background: url('https://data.1freewallpapers.com/detail/full-moon-fantasy.jpg');
    background-repeat: no-repeat;
    background-size: 100%
}
body {
    padding: 25px;


}

img {
    border-radius: 3.5px;
}