  .row-md {
    display: flex;
  }

.column-md-2 {
    padding: 0 8px 0 8px;
    margin-top: -10px;
    width: 50%;
}
.column-md-2 .card-body {
    height: 260px;
}

img:hover {
    cursor: pointer;
}

.column-md-2 img{
    height:auto;
}
#srcImg {
    height: 40px;
    width: 40px;
}

