<body>
    <div class='container-fluid' id='page'>
        <div class='row-md'>
            <div class='column-md-2'>
                <div class='card'>
                    <div class='card-body'>
                        <a (click)='elon()' (click)='random()' (click)='scrollBottom()'><img class='card-img-top' alt="home-left" 
                            src="/assets/elon.jpg"></a>
                        <h5>Elon Musk</h5>
                        <p>Tech Entrepreneur</p>
                    </div>
                </div>
            </div>
            <div class='column-md-2'>
                    <div class='card'>
                        <div class='card-body'>
                            <a (click)='constance()' (click)='random()' (click)='scrollBottom()'><img class='card-img-top' alt="home-left" 
                                src="/assets/constance.jpg"></a>
                            <h5>Constance Wu</h5>
                            <p>Movie Actress</p>
                        </div>
                    </div>
                </div>
            <div class='column-md-2'>
                <div class='card'>
                    <div class='card-body'>
                        <a (click)='gal()' (click)='random()' (click)='scrollBottom()'><img class='card-img-top' alt="home-left" 
                            src="/assets/gadot.jpg"></a>
                        <h5>Gal Gadot</h5>
                        <p>Movie Actress</p>
                    </div>
                </div>
            </div>
            <div class='column-md-2'>
                <div class='card'>
                    <div class='card-body'>
                        <a (click)='daymond()' (click)='random()' (click)='scrollBottom()'><img class='card-img-top' alt="home-left" 
                            src='/assets/daymond.jpg'></a>
                        <h5>Daymond John</h5>
                        <p>Entrepreneur</p>
                    </div>
                </div>
            </div>
            <div class='column-md-2'>
                    <div class='card'>
                        <div class='card-body'>
                            <a (click)='ben()' (click)='random()' (click)='scrollBottom()'><img class='card-img-top' alt="home-left" 
                                src='/assets/benjerry.jpg'></a>
                            <h5>Ben&Jerry's</h5>
                            <p>Ice Cream Company</p>
                        </div>
                    </div>
                </div>
            </div>
            
        <div id='messageBox'></div>
        <div class='p-1 mt-3 card' *ngIf='randomTweet == null'>
            <div class ='card-body'>
             <h4>Click an Image to Receive a Random Tweet!</h4>
            </div>         
        </div>
        <app-spinner *ngIf='showSpinner'></app-spinner>

        <div class='p-3 card mt-3' *ngIf='randomTweet != null && showSpinner != true' id='result'>
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-2"><img id='srcImg' class ='mr-2' src={{tweetImage}}>{{person}}</h3>
                <small class='mr-2'>{{randomTweet[randomNumber].created_at}}</small>
            </div>
                <p class="mb-2">{{randomTweet[randomNumber].text}}</p>                  
        </div>

    </div>
</body>