header {
    background: #7700FF;
  

    .Blaine {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 3em;
                    text-transform: uppercase;
                    font-size: .8em;
                    // font-weight: bold;
                   

                    &:hover {
                        background: #8E2BFF;
                
                    }
                }
            }
        }
    }
}