body h1 {
    font-weight: bold;
    margin: -10px 0 -15px 0; 
}

// .jumbotron {
//     background-color: pink;
// }

body p {
    font-weight: 500;
}

body a {
    color: black
}

body a:hover {
    text-decoration: none;
}

body img {
    height: 250px;
    width: 50%;
    object-fit: cover;

    &:hover{
        cursor: pointer;
    }
}