<body>

    <div class="container"> 
        <form action="" id="form" onsubmit="myFunction(event)">
            <div class='form-group'>
              <input id='data' name='search' type='search' class='form-control' placeholder="What would you like to search?">
              <button type='submit' class='btn btn-primary'>Submit</button>
            </div>
          </form>
                
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search results</h5>
                <p class="card-text"></p>
              </div>
            </div>
  
  
          </div>

     
</body>
