<html>
<body>
    <div class='container'>
        <div class='jumbotron bg-info text-dark shadow-sm'>
            <div class='col-md-10 px-0'>
                <h1 class="display-4 font-italic">Twitter Search Application</h1>
                <p class="lead m-4">A web application that uses Twitter's API</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card flex-md-row shadow-sm">
                    <div class="card-body">
                      <h5 class='card-title'><a routerLink='TwitterSearch'>Twitter Search</a></h5>
                      <p class='card-text m-2'>Use Twitter's API to search for tweets with a specific phrase</p>
                    </div>
                    <img routerLink ='/TwitterSearch' class='card-img-right shadow-sm' alt="home-left" 
                    src="https://pbs.twimg.com/profile_images/949787136030539782/LnRrYf6e.jpg">
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card flex-md-row shadow-sm">
                        <div class="card-body">
                          <h5 class='card-title'><a routerLink='/RandomTweet'>Random Tweet</a></h5>
                          <p class='card-text m-2'>Retrieve a random tweet from 1 of 5 celebrities</p>
                </div>
                <img class='card-img-right shadow-sm' alt='home-right' 
                src='https://i.kym-cdn.com/photos/images/original/001/316/888/f81.jpeg'>
          </div>
      </div>
  </div>
  <h3 class="font-italic border-bottom mt-5">
    Contact me
  </h3>
  <p class='lead mt-3 ml-3'> Link to Resume?</p>
</div>
</body>
</html>
    
